.flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .flex-all-top{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-all-bottom{
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .flex-align-ends {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-align-ends-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .flex-auto-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .flex-auto-top{
  
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  
  }
  .flex-bottom-center{
  
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  
  }


  .flex-left-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  
  .flex-left-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }


  .flex-max-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .flex-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .flex-right-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .flex-right-bottom{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

 
  
  .flex-left {
    display: flex;
    justify-content: flex-start;
  }
  
  .flex-left-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .flex-max-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .flex-none {
    display: flex;
  }
  /*溢出换行*/
  .flex-br{
    display: flex;
    flex-wrap:wrap;
  }
  
  .flex-br-center{
    justify-content:center;
    display: flex;
    flex-wrap:wrap;
  }
  .text-over-h {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  
  