@import './flex.css';

.a-picture-of-a-sports-scene{
    overflow: hidden;
    position: relative;


}

.a-picture-of-a-sports-scene .a-p-o-a-container{
  position: absolute;
  left:0;
  bottom:0;
}

.a-picture-of-a-sports-scene .item{
position: relative;
}
.a-picture-of-a-sports-scene .test-dom{
position: absolute;
right:0;
top:0;
color:#000;
font-size: 0.3rem;
}
